.MyNavBar {
  background-color: #2A475E !important ;
  
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.hero-section {
  width: 100%;
  overflow: hidden;
}

.nav-link:hover {
  color: #F0B53B !important;
}

.hero-section{
  color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.HpCardSectionC{
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 8%;
}


.HpCardSectionP{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 8%;
}


.nav-link {
  margin-right: 50% !important;
  font-weight: 500;
  font-size: large;
}

.DataSplit{
margin-top: 20%;
}

.DataSection{
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 8%;
  
}

.DataSection h4 {
   color: #66C0F4;
   margin-top: 20px;
}

.HpCards{
  padding-bottom: 5%;
}

.footer {
  background-color: #1B2C44;
  padding: 10px 20px;
  margin-top: 50px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #F0B53B;
}

.GameComps {
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 12%;
  padding: 40px;
}

.PieSec{
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 12%;
  padding: 40px;
}

.OtherSec{
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 12%;
  padding: 40px;
}
